{% extends "base.html" %}
{% block conteudo %}
<div class="criar">
<h1>Criar atividades</h1>
<br>
<label>Recursos:</label>
<br>

<form action="{{url_for('criar_atividades')}}" method="post">
    <input type="checkbox" name="form_recurso" value="Internet">Internet
    <input type="checkbox" name="form_recurso" value="Celular">Celular
    <input type="checkbox" name="form_recurso" value="Notebook">Notebook
    <input type="checkbox" name="form_recurso" value="Papel">Papel
    <input type="checkbox" name="form_recurso" value="Caneta">Caneta
    <br>
    <br>
<label>
    Nome da atividade:
    <input name="form_nome" type="text"required>
</label>

<br>
<br>

<label>
    Data:
    <input name="form_data" type="date" required>
</label>

<br>
<br>

<label>Categoria:</label>
<br>
    <input type="checkbox" name="form_categoria" value="Lazer">Lazer
    <input type="checkbox" name="form_categoria" value="Juridico">Jurídico
    <input type="checkbox" name="form_categoria" value="Palestra">Palestra
    <input type="checkbox" name="form_categoria" value="Escolar">Escolar
<br>
<label>
        Prioridade:
        <select name="form_PRI" required>
            <option value="Nao_importante">Não importante</option>
            <option value="Intermediario">Intermediário</option>
            <option value="Importante">Importante</option>
        </select>
</label>

<br>
<br>

  <label>
      Descrição da atividade:
    <br>
    <textarea rows="10" cols="50" required> </textarea>
  </label>

<br>
<br>
 <button type="submit">Enviar formulário</button>
 <button type="reset">Limpar formulário</button>

</form>
</div>



{% endblock conteudo %}