* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://i.pinimg.com/1200x/f0/a5/8b/f0a58b2cdf546bbbd87e896fb57e224a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}